html {
    background: #ececec;
}
* {
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #191919;
    width: 100%;
    text-align: center;
    padding: 18px;
    box-shadow: 1px 2px 8px #888888;
    position: fixed;
    z-index: 1;
}

header #openbtn {
    color: #FF715B;
    float: left;
}
a  {

    color: white;
    text-decoration: none;
}
a:hover{
    color:#FF7820;
}
article h1{
    font-size: 28px;
    text-align: center;
}

header h2 {
    color: white;
    text-align: center;
    font-size: 32px;
}

body {
    margin: auto;
}

#page-container {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;

}

#page-container h2 {
    display: inline;
}

#page-container>main {
    width: 100%;
    margin: auto;
}

main>section {
    padding: 20px;
    margin-top: 90px;
    background: white;
}

aside {
    background: #FF7820;
    width: 100%;
    margin-top: 20px;
    padding-top: 35px;
    text-align: left;
}

aside ul {
    padding-right: 5px;
}

article ul {

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-left: -8%;
}


/** Map **/
#map {
    height: 70vh;
    width: 100%;
}

/** NavBar **/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    margin-top: 75px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #FF715B;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/** Sää API **/
.location img {
    margin: -12px;
}

.location {
    position: fixed;
    z-index: 1;
    color: #FF715B;
    right: 1px;
    margin-right: 20px;
    margin-top: 6px;
}

.notification {
    position: fixed;
    z-index: 1;
    color: #FF715B;
    right: 1px;
    margin-right: 20px;
    margin-top: 1%;
}

/** Alasivujen Template **/

.metropolia{
    height: 100%;
    width: 27%;
    flex-grow: 0;
    display:inline-block;
    background-color: white;
}
.metropolia figure {
     display: flex;
     background: #ececec;
     height: 230px;
     border-radius: 3px;
 }
.metropolia figcaption {
    width: 224px;
}
.metropolia img {
    border-radius: 4px;
    padding-left: 18px;
    margin-top: 62px;
}
.metropolia h3 {
    padding-left: 15px;
    margin-left: -104%;
}
.metropolia p {
    padding: 15px;
    margin-top: -14px;
}

.laurea{
    height: 100%;
    width: 27%;
    flex-grow: 0;
    display:inline-block;
    background-color: white;
}
.laurea figure {
    display: flex;
    background: #ececec;
    height: 230px;
    border-radius: 3px;
}
.laurea figcaption {
    width: 224px;
}
.laurea img {
    border-radius: 4px;
    padding-left: 18px;
    margin-top: 62px;
}
.laurea h3 {
    padding-left: 15px;
    margin-left: -104%;
}
.laurea p {
    padding: 15px;
    margin-top: -14px;
}
.helia{
    height: 100%;
    width: 27%;
    flex-grow: 0;
    display:inline-block;
    background-color: white;
}
.helia figure {
    display: flex;
    background: #ececec;
    height: 230px;
    border-radius: 3px;
}
.helia figcaption {
    width: 224px;
}
.helia img {
    border-radius: 4px;
    padding-left: 18px;
    margin-top: 62px;
}
.helia h3 {
    padding-left: 15px;
    margin-left: -104%;
}
.helia p {
    padding: 15px;
    margin-top: -14px;
}


article {
    padding: 20px;
    margin-top: 90px;
    background: white;
    margin-right: 20px;
    margin-left: 39px;
}


article>figcaption {
    width: 100%;
}

article>figcaption h3 {
    position: relative;
    display: block;
    left: 20px;
}

/** Footer **/

footer {
    position: absolute;
    bottom: 0;
    width: 1111px;
    border: solid 1px #b1b1b1;
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-align: center;

}



/** Media Query **/

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (min-width: 600px){
    #page-container>main {
        width: 100%;
    }


    aside {
        width: 25%;
        margin-top: 90px;
        margin-right: 6%;
    }

}
